/BSC-AdvancedProgramming-BSCSD-21-14/JKCompany-WebClient/target/
/BSC-AdvancedProgramming-BSCSD-21-14/JkCompany-WebService/target/
/BSC-AdvancedProgramming-BSCSD-21-14/JkCompany-WebService/nbproject/
/TestMavenProject/target/
/JavaOOPConcepts/target/
/JavaOOPConcepts/nbproject/private/
/JavaOOPConcepts/build/
/JavaDesignPatterns/nbproject/private/
/JavaDesignPatterns/build/
/SampleBackend/target/
